@value samplejpg: '_public/sample.jpg';
@value samplebase64Url: '_public/small-image.png';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.title {
  font-size: 1.5em;
}

.intro {
  font-size: large;
}

.jpgBg {
  width: 200px;
  height: 200px;
  margin: 0 auto 0 auto;
  color: white;
  background-image: url( samplejpg );
  background-size: cover;
}

.base64UrlBg {
  width: 200px;
  height: 200px;
  margin: 0 auto 0 auto;
  color: blue;
  background-image: url( samplebase64Url );
  background-size: cover;
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
